@charset "utf-8";

h1 {font-family: "";
color:black;
text-align: Top left;
margin-top: 200px; }

h2 { text-align: left }


	body { background-image : url("face2.gif")}
	
h3 { border-bottom-width: thin;
	border-color: white; 
	color: white

}

p {text-align: left}

h1,h2,h4,p{color:white;
font-family: ""}

h3 { text-align: center;
	border: thin
		#199BA8;

}

nav a {color: paleturquoise; 
text-align: top right; 
}


